PORT=8080
GOOGLE_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WEBHOOK_URL=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
SESSION_STORE_FILE=
MAX_KM_SALTO=200
STORAGE_BUCKET_PREOPERACIONALES=preoperacionales

DB_TABLE_VEHICULOS=vehiculos
DB_TABLE_CONDUCTORES=conductores
DB_TABLE_PREOPERACIONALES=preoperacionales
DB_TABLE_FOTOS_EVIDENCIA=fotos_evidencia
DB_TABLE_ALERTAS=alertas
DB_TABLE_TANQUEOS=tanqueos
DB_TABLE_ATS=ats
DB_TABLE_REVISIONES_EQUIPOS=revisiones_equipos
DB_TABLE_RIESGOS_LOCATIVOS=riesgos_locativos
DB_TABLE_POSOPERACIONALES=posoperacionales
DB_TABLE_DASHBOARD_SNAPSHOTS=dashboard_snapshots
DB_TABLE_SESIONES_ACTIVAS=sesiones_activas

ALERTAS_CANAL=log

