node_modules/
.env
.env.local
.cursor/*
!.cursor/rules.md
!.cursor/rules-backend.md
!.cursor/rules-frontend.md
!.cursor/rules-whatsapp.md
.env.production
# Certificados y claves privadas
*.pem
*.key
*_test*.pdf
